body {
  background-image: linear-gradient(
    to right top,
    #76c6e2,
    #83c7e7,
    #8fc8eb,
    #9cc9ee,
    #a8caf0,
    #a9c8f0,
    #aac6ef,
    #acc4ef,
    #a4beed,
    #9bb9eb,
    #93b3e8,
    #8aaee6
  );
  height: 100vh;
}

.simple {
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(55, 20, 227);
  font-weight: bold;
  text-shadow: 4px 4px 2px rgba(145, 142, 142, 0.6);
}

.form-label {
  color: rgb(87, 3, 81);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: larger;
}
